@import "reset";

$header-color: #262626;
$header-link-color: #d9d9d9;
$link-hover: #ff6760;
$top-section: #2a2a2a;
$in-touch: #313131;
$in-touch-h3: #e0e0e0;
$in-touch-p: #9b9b9b;
$in-touch-span: #bebebe;
$footer-text: #ababab;
$footer-bg: #2c2c2c;
$font-awesome: #bc5551;
$mid-text: #616161;

body {
    font-family: Lato;
}

.transparent {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1001;
}

.header-container, .top-container, .mid-container, .contact-info {
    max-width: 1160px;
    padding-right: 30px;
    padding-left: 30px;
    margin: 0 auto;
}

.mid-container {
    padding: 60px 0;
}

header {
    display: block;
    width: 100%;
    background-color: $header-color;
    position: relative;

    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative
    }

    .btn-menu {
        color: $link-hover;
        font-size: 20px;
        display: none;
    }

    .logo {
        display: inline-block;
    }

    ul {
        float: right;

        li {
            display: inline-block;
            text-transform: uppercase;
            padding: 42px 25px;
            font-size: 13px;
            font-weight: bold;

            a {
                color: $header-link-color;
                text-decoration: none;
                text-align: center;
                &:hover {
                    color: $link-hover;
                }
            }
        }
    }
}

.top-section {
    width: 100%;
    background-color: $top-section;
    text-align: center;
    color: $header-link-color;
    padding: 60px 0;

    h1 {
        margin-top: 0;
        font-family: Lato;
        font-weight: 300;
        padding-top: 60px;
        font-size: 60px;
        margin-bottom: 5px;
        span {
            font-weight: bold;
        }
    }

    p {
        font-family: Lato;
        font-weight: 300;
        font-size: 40px;
        margin: auto;
        span {
            font-style: italic;
        }
    }

    .button {
        text-transform: uppercase;
        width: 200px;
        height: 50px;
        background-color: $link-hover;
        color: #fff;
        line-height: 50px;
        margin: 41px auto;
        border-radius: 5px;
        font-weight: bold;
        font-size: 13px;
        cursor: pointer;
    }

    .login-popup {
        display: none;
        position: absolute;
        overflow: hidden;
        background-color: #fff;
        top: 50%;
        margin-top: -75px;
        margin-left: -145px;
        left: 50%;
        z-index: 2;
        height: 150px;
        width: 290px;
        border-radius: 10px;
        opacity: 1;
        .login-form {
            .fa-times {
                position: absolute;
                top: 4%;
                right: 3%;
                color: #fff;
                opacity: 0.6;
            }
            h3 {
                background-color: #ff6760;
                width: 100%;
                padding: 5px;
                color: #fff;
            }
            input {
                width: 80%;
                margin-top: 10px;
                padding: 5px;
            }
            a {
                display: inline-block;
                background: #a7302b;
                padding: 5px;
                color: #fff;
                font-weight: 700;
                font-size: 14px;
                text-decoration: none;
                margin-top: 10px;
                width: 70px;
                border-radius: 5px;
            }
        }
    }
}

.mid-section {
    width: 100%;
    background-color: #fff;
    position: relative;

    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        li {
            display: inline-block;
            list-style: none;
            width: 25%;
            font-size: 18px;
            text-align: center;
            line-height: 1.5;
            padding: 10px 20px;
            min-width: 290px;
            color: $mid-text;

            img {
                margin: 0 auto;
                display: block;
                transform: scale(0.5, 0.5);
            }

            p {
                font-size: 14px;
            }
        }
  }

}

.in-touch {
    width: 100%;
    height: 270px;
    background-color: $in-touch;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    .contact-info {
        h3 {
            color: $in-touch-h3;
            font-size: 18px;
            margin-top: 0;
            padding: 0 0 10px 0;
        }
        p {
            color: $in-touch-p;
            padding-bottom: 15px;
        }
        #address {
            color: $in-touch-span;
            display: inline-block;
            padding: 0 15px;
            &:before {
                font-family: FontAwesome;
                content: '\f041';
                color: $font-awesome;
                margin-right: 5px;
            }
        }
        #phone {
            color: $in-touch-span;
            display: inline-block;
            padding: 0 15px;
            list-style: none;
            text-decoration: none;
            &:before {
                content: url('icons/phone.png');
                margin-right: 5px;
            }
        }
        .icons {
            margin-top: 20px;

            li {
                width: 33px;
                height: 30px;
                display: inline-block;
                list-style: none;
                background: url("icons/contact-icons.png") no-repeat;

                a {
                    width: 100%;
                    height: 100%;
                    display: block;
                }

                &#rss {
                    background-position: 0;
                }

                &#facebook {
                    background-position: -37px 0;
                }

                &#twitter {
                    background-position: -74px 0;
                }

                &#dribble {
                    background-position: -111px 0;
                }

                &#pinterest {
                    background-position: -148px 0;
                }
            }
         }
    }
}

footer {
    display: block;
    width: 100%;
    height: 80px;
    color: $footer-text;
    background-color: $footer-bg;
    text-align: center;
    line-height: 80px;
}

// up to tablet
@media screen and (max-width : 767px) {
    .header-container {
        .btn-menu {
            display: block;
        }

        .logo {
            padding: 25px 0;
            margin: 0 auto;
        }

        ul {
            position: absolute;
            width: 240px;
            height: auto;
            display: none;
            top: 100%;
            left: 0;
            background-color: $header-color;

            li {
                padding: 10px;
                display: block;
                line-height: 1.3;
                text-align: center;
            }
        }
    }

    .top-container {
        h1 {
            font-size: 50px;
        }

        p {
            font-size: 30px;
        }
    }
}

@media screen and (max-width :605px) {
    .in-touch {
        .contact {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            #address, a {
                display: block;
                padding: 15px 0;
                font-size: 20px;
            }
        }
    }
}
// mobile phones
@media screen and (max-width : 480px) {
    .top-container {
        h1 {
            font-size: 33px;
        }

        p {
            font-size: 22px;
        }
    }
    .in-touch {
        .contact {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
    }

}


